@font-face {
    font-family: "Red Hat Display";
    src: url("../assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url("../assets/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 500;
}

.card {
    margin: auto;
    width: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 15px 20px 1px hsla(245.8, 68.9%, 8.8%, 0.14);
    color: hsl(224, 23%, 55%);
    text-align: center;
    overflow: hidden;
}

.hero-img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

h2 {
    margin: 0;
    color: hsl(223, 47%, 23%);
}

.plan {
    display: flex;
    margin: 1rem 0;
    padding: 20px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    vertical-align: middle;
}

.music-icon {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.plan-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    line-height: 1.5rem;;
    justify-content: center;
    text-align: left;
}

.bold {
    font-weight: 900;
    color: hsl(223, 47%, 23%)
}

.plan-change {
    display: flex;
    font-weight: 700;
    font-size: 0.9rem;
    color:hsl(245, 75%, 52%);
    text-align: end;
    align-items: center;
}

.plan-change:hover {
    color: hsl(244, 84%, 69%);
}

.payment {
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 5px hsla(245, 75%, 52%, 0.3);
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(0, 0%, 100%);
}

.payment:hover {
    background-color: hsl(244, 84%, 69%);
    box-shadow: 0 8px 16px 5px hsla(244, 84%, 62%, 0.3);
    cursor: pointer
}

.cancel {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.cancel:hover {
    color: hsl(223, 47%, 23%)
}

@media screen and (max-width: 500px) {
    .card {
        width: 320px;
    }

    .content {
        padding: 20px;
    }

    .order-desc {
        padding: 0 8px;
    }

    .plan {
        margin: 0.5rem 0;
        padding: 15px;
    }

    .cancel {
        margin: 0.5rem 0;
    }
}